<%- include('../partials/Header.ejs') %>
<%- include('../partials/Site_Header.ejs') %>

<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-10">
            <h1>Add prof</h1>
            <% if(typeof displayName=='string' && displayName) { %>
                <a href="/proflist/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add prof </a>
                <br>
            <% } %>
            <br>
            <table class= "table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <% if(typeof displayName=='string' && displayName) { %>
                        <th class="text-center col-4">Name</th>
                        <th class="text-center col-4">Program</th>
                        <th class="text-center col-4">Email</th>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                    <% } else { %>
                            <th class="text-center col-4">Name</th>
                            <th class="text-center col-4">Program</th>
                            <th class="text-center col-4">Email</th>
                        <th class="text-center col-1"></th>
                    <% } %>

                </tr>
                <!-- Repeat the template -->
                <% for(let count=0; count < profList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof displayName=='string' && displayName) { %>
                            <td class="text-center col-4"><%= profList[count].FullName %></td>
                            <td class="text-center col-4"><%= profList[count].Program %></td>
                            <td class="text-center col-4"><%= profList[count].Email %></td>
                            <td class="text-center col-1">
                                <a href="/proflist/edit/<%= profList[count]._id %>"
                                   class="btn btn-primary">
                                    <i class="fas fa-pencil-alt"></i> Edit </a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/proflist/delete/<%= profList[count]._id %>"
                                   class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i> Delete </a>
                            </td>
                        <% } else { %>
                                <td class="text-center col-4"><%= profList[count].FullName %></td>
                                <td class="text-center col-4"><%= profList[count].Program %></td>
                                <td class="text-center col-4"><%= profList[count].Email %></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>

<%- include('../partials/Site-Footer.ejs') %>
<%- include('../partials/Footer.ejs') %>